.features {
    grid-column: center-start / center-end;
    display: grid;

    margin: 15rem 0;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 5rem;
    align-items: start;
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2rem;
    &__icon {
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 / span 2;
        transform: translateY(-1rem);
    }

    &__title {
        font-family: 'Pacifico', cursive;
        font-weight: 400;
        font-size: 2.5rem;
        color:rgb(95, 58, 2);
    }
    &__text {
        font-size: 1.4rem;
    }
}

.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
  height: auto;
  font-weight: bold;
  background:
  radial-gradient(#f5dc66 15%, transparent 15%) 0 0,
  radial-gradient(#f4d856 15%, transparent 15%) 16px 16px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 16px 17px;
  background-size: 32px 32px;
  background-color: #F8E796;
  padding: 7%;
  color:rgb(95, 58, 2);
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 12px solid;
	border-color: #F8E796 #F8E796 transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}


.talktext{
    padding: 1em;
      text-align: left;
    line-height: 1.5em;
  }
  .talktext p{
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }

.round {
    border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}