.footer {
    background-color: rgb(80, 78, 78);
    grid-column: full-start / full-end;
    padding: 2.5vw;
}

.nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;

    a, &__link:link,
    :visited {
        font-size: 1.4rem;
        padding: 1rem;
        border-radius: 3px;
        color: #ffffff;
        text-decoration: none;
        font-family: 'ComingSoon', cursive;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin: auto;
        width: fit-content;
        transition: all .2s;
        &:hover{
            background: rgba(#ffffff, .05);
            transform: translateY(-3px);
        }
    }

}
